---
// Import the necessary dependencies
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { Button } from "@/components/starwind/button";

// Define props from Astro
const {
  title,
  subTitle,
  paragraph1,
  paragraph2,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  source,
  alt,
} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  paragraph1?: string;
  paragraph2?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  source?: ImageMetadata;
  alt?: string;
}
---

<!-- Defining a grid container that holds all the content -->
<section class="mb-12 grid items-center gap-4 md:gap-8 lg:grid-cols-2">
  <!-- Title and description -->
  <div class="space-y-4 text-slate-800 dark:text-slate-200">
    <!-- Each h1 and p tag renders a portion of the title and subTitle defined above -->
    <h1
      class="text-3xl font-bold tracking-tight text-balance sm:text-4xl lg:leading-tight xl:text-5xl"
    >
      <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
      <Fragment set:html={title} />
    </h1>
    {
      subTitle && (
        <p class="mb-4 text-xl font-semibold text-cyan-800 italic dark:text-cyan-300">
          {subTitle}
        </p>
      )
    }
    <p class="leading-relaxed text-pretty">
      <Fragment set:html={paragraph1} />
    </p>
    <p class="leading-relaxed text-pretty">
      <Fragment set:html={paragraph2} />
    </p>

    <!-- Action Button Section: This section includes two CTAs with their own styles and URL -->
    <div class="mt-8 flex w-full flex-wrap gap-4">
      {
        primaryBtn && (
          <Button href={primaryBtnURL}>
            <Icon name="InfoFill" class="size-6" />
            {primaryBtn}
          </Button>
        )
      }
      {
        secondaryBtn && (
          <Button variant="secondary" href={secondaryBtnURL}>
            <Icon name="ChatAnimate" class="size-6" />
            {secondaryBtn}
          </Button>
        )
      }
    </div>
  </div>
  <!-- Hero Image Section -->
  <div class="overflow-hidden rounded-2xl">
    {
      source && alt && (
        <Image
          src={source}
          alt={alt}
          class="w-full"
          draggable="false"
          format="avif"
          priority
        />
      )
    }
  </div>
</section>
