---
import StatsGrid from "@/components/ui/blocks/StatsGrid.astro";

const title = "Take Your Web Presence to the Next Level";
const subTitle =
  "At Cobalt we can build you exactly what you need with performance in mind. From online threat mitigation to digital marketing, we have a broad range of services and tools to fit your exact needs.";

type StatProps = {
  count: string;
  description: string;
};

const statistics: StatProps[] = [
  {
    count: "3",
    description:
      "seconds or less to mitigate malicious traffic and keep your business online",
  },
  {
    count: "123",
    description:
      "global PoPs on a CDN for global distribution and unparalleled speed",
  },
  {
    count: "24ms",
    description:
      "average global latency for super fast load times of your web app",
  },
  {
    count: "6X",
    description:
      "engagement with digital marketing targeted ads and email campaigns",
  },
];
---

<section class="py-8">
  <!-- Container for the testimonials -->
  <div
    class="grid items-center justify-between gap-12 space-y-8 lg:grid-cols-2 lg:gap-16"
  >
    <!-- Title and Subtitle -->
    <div class="mb-8">
      <h2
        class="mb-2 text-3xl font-bold text-slate-800 lg:text-4xl dark:text-slate-200"
      >
        {title}
      </h2>
      {subTitle && <p class="text-slate-800 dark:text-cyan-300">{subTitle}</p>}
    </div>

    {
      <div class="bg-cobalt-100/60 dark:bg-cobalt-800 space-y-6 rounded-lg p-4 sm:space-y-8">
        <ul class="grid grid-cols-2 divide-x-2 divide-y-2 divide-slate-400 overflow-hidden dark:divide-slate-600">
          {
            statistics.map((stat, index) => (
              <StatsGrid
                count={stat.count}
                description={stat.description}
                index={index}
              />
            ))
          }
        </ul>
      </div>
    }
  </div>
</section>
