---
import StatsGrid from "@/components/ui/blocks/StatsGrid.astro";

const { title, subTitle, statistics } = Astro.props;

interface Props {
  title: string;
  subTitle?: string;
  testimonials?: Testimonial[];
  statistics?: StatProps[];
}

// TypeScript type for testimonials
type Testimonial = {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
};

// TypeScript type for stats.
type StatProps = {
  count: string;
  description: string;
};
---

<section class="py-8">
  <!-- Container for the testimonials -->
  <div
    class="grid items-center justify-between gap-12 space-y-8 lg:grid-cols-2 lg:gap-16"
  >
    <!-- Title and Subtitle -->
    <div class="mb-8">
      <h2
        class="mb-2 text-3xl font-bold text-slate-800 lg:text-4xl dark:text-slate-200"
      >
        {title}
      </h2>
      {subTitle && <p class="text-slate-800 dark:text-cyan-300">{subTitle}</p>}
    </div>

    {
      statistics && (
        <div class="bg-cobalt-100/60 dark:bg-cobalt-800 space-y-6 rounded-lg p-4 sm:space-y-8">
          <ul class="grid grid-cols-2 divide-x-2 divide-y-2 divide-slate-400 overflow-hidden dark:divide-slate-600">
            {
              //Generate a list item for each stat in the statistics array by mapping over the array.
              statistics.map((stat, index) => (
                <StatsGrid
                  count={stat.count}
                  description={stat.description}
                  index={index}
                />
              ))
            }
          </ul>
        </div>
      )
    }
  </div>
</section>
