---
import { Icon } from "astro-icon/components";
// Define props from Astro
const { id, collapseId, question, answer, first } = Astro.props;
// Define TypeScript interface for props
interface Props {
  id: string;
  collapseId: string;
  question: string;
  answer: string;
  first?: boolean;
}
// Define class names for the accordion and its content
const ACCORDION_CLASS_DEFAULT = "hs-accordion pb-3 active";
const ACCORDION_CLASS_COLLAPSED = "hs-accordion pt-6 pb-3";
const ACCORDION_CONTENT_CLASS =
  "hs-accordion-content w-full overflow-hidden transition-[height] duration-300";
// Helper function to return the correct class for the accordion
function getAccordionClass(first: boolean = false) {
  return first ? ACCORDION_CLASS_DEFAULT : ACCORDION_CLASS_COLLAPSED;
}
---

<!-- The main container for the accordion item -->
<div class={getAccordionClass(first)} id={id}>
  <!-- The accordion button, which toggles the expanded/collapsed state -->
  <button
    class="hs-accordion-toggle group inline-flex w-full items-center justify-between gap-x-3 text-balance rounded-lg pb-3 text-start font-bold text-slate-800 outline-none ring-slate-500 transition hover:text-orange-500 focus-visible:ring dark:text-slate-200 dark:ring-slate-200 dark:hover:text-orange-400 dark:focus:outline-none md:text-lg"
    aria-controls={collapseId}
  >
    {question}
    <!-- SVG Icon that is shown when the accordion is NOT active -->
    <Icon
      name="ArrowBracket"
      class="block size-8 flex-shrink-0 rotate-90 text-slate-600 group-hover:text-orange-500 hs-accordion-active:hidden dark:text-slate-400"
    />

    <!-- SVG Icon that is shown when the accordion is active -->
    <Icon
      name="ArrowBracket"
      class="hidden size-8 flex-shrink-0 -rotate-90 text-slate-600 group-hover:text-orange-500 hs-accordion-active:block dark:text-slate-200"
    />
  </button>
  <!-- The collapsible content of the accordion -->
  <div
    aria-labelledby={id}
    class={`${first ? ACCORDION_CONTENT_CLASS : "hidden " + ACCORDION_CONTENT_CLASS}`}
    id={collapseId}
  >
    <!-- The content paragraph -->
    <p class="text-pretty text-slate-600 dark:text-slate-300">
      {answer}
    </p>
  </div>
</div>
