---
import { Icon } from "astro-icon/components";

// Get heading and content from Astro props
const { heading, content, iconName } = Astro.props;
// Define TypeScript interface for props
interface Props {
  heading?: string;
  content?: string;
  iconName?: string;
}
// Define classes for heading and content
const headingClasses =
  "text-balance text-lg font-bold text-slate-800 dark:text-cyan-300";
const contentClasses = "mt-1 text-pretty text-slate-700 dark:text-slate-300";
---

<!-- The root container that arranges your slot and the heading/content -->
<div class="flex gap-x-5">
  <div class="basis-1/5 self-start">
    <Icon
      name={iconName}
      class="size-16 text-orange-400 dark:text-orange-300"
    />
  </div>
  <div class="basis-4/5">
    <!-- Heading of the section -->
    <h3 class={headingClasses}>
      {heading}
    </h3>
    <!-- Content text of the section -->
    <p class={contentClasses}>{content}</p>
  </div>
</div>
