---
import { CldImage } from "astro-cloudinary";
import { Icon } from "astro-icon/components";
import { Button } from "@/components/starwind/button";
// Destructure the props passed to the Astro component
const {
  title,
  subTitle,
  btnExists,
  btnTitle,
  btnURL,
  single,
  imgSrcRightSingle,
  imgAltRightSingle,
  imgSrcRightFirst,
  imgAltRightFirst,
  imgSrcRightSecond,
  imgAltRightSecond,
} = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  imgSrcRightSingle: string;
  imgAltRightSingle: string;
  imgSrcRightFirst: string;
  imgAltRightFirst: string;
  imgSrcRightSecond: string;
  imgAltRightSecond: string;
}
---

<!-- Root section of the component -->
<section class="grid gap-8 py-10 sm:py-16 md:grid-cols-2 lg:py-14 xl:gap-16">
  <div class="order-2 md:order-1">
    <!-- Title of the section -->
    <h2
      class="mb-4 text-4xl font-extrabold tracking-tight text-balance text-slate-800 dark:text-slate-200"
    >
      {title}
    </h2>
    <!-- Subtitle of the section -->
    <p
      class="mb-4 max-w-prose font-light text-pretty text-slate-600 sm:text-lg dark:text-slate-200"
    >
      {subTitle}
    </p>
    <!-- Conditional rendering of the Primary Call-To-Action button if 'btnExists' is true -->
    {
      btnExists ? (
        <Button href={btnURL}>
          <Icon name="InfoFill" class="size-6" />
          {btnTitle}
        </Button>
      ) : null
    }
  </div>
  <!-- Conditionally render one or two images based on 'single' boolean -->
  {
    single ? ( // Single image
      <div class="order-1 mt-8 md:order-2">
        <CldImage
          class="w-full rounded-lg"
          src={imgSrcRightSingle}
          alt={imgAltRightSingle}
          draggable="false"
          format="avif"
          width={1920}
          height={1280}
        />
      </div>
    ) : (
      // If two images render in grid column layout
      <div class="order-1 mt-8 grid grid-cols-2 gap-4 md:order-2">
        <CldImage
          class="w-full rounded-xl"
          src={imgSrcRightFirst}
          alt={imgAltRightFirst}
          draggable="false"
          format="avif"
          width={1280}
          height={1920}
        />
        <CldImage
          class="mt-4 w-full rounded-xl lg:mt-10"
          src={imgSrcRightSecond}
          alt={imgAltRightSecond}
          draggable="false"
          format="avif"
          width={1280}
          height={1920}
        />
      </div>
    )
  }
</section>
