---

import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/components/starwind/accordion";

// Define props from Astro
const { title, faqs } = Astro.props;

// Define TypeScript interface for props
interface Faq {
  question: string;
  answer: string;
}

interface FaqGroup {
  subTitle?: string;
  faqs: Faq[];
}

interface Props {
  title: string;
  faqs: FaqGroup;
}
---

<!-- Main container that holds all content. Customized for different viewport sizes. -->
<section class="py-8">
  <div class="grid gap-10 md:grid-cols-3">
    <div class="space-y-4 md:col-span-1">
      <h2
        class="text-2xl font-bold text-slate-800 md:text-4xl md:leading-tight dark:text-slate-200"
      >
        <Fragment set:html={title} />
      </h2>
      <p class="text-slate-800 md:block dark:text-slate-200">
        {faqs.subTitle}
      </p>
    </div>
    <!-- FAQ accordion items -->
    <div class="md:col-span-2">
      <Accordion defaultValue="item-0" class="bg-muted rounded-md">
        {
          faqs.faqs.map((faq, i) => (
            <AccordionItem value={`item-${i}`}>
              <AccordionTrigger class="font-bold">
                {faq.question}
              </AccordionTrigger>
              <AccordionContent>{faq.answer}</AccordionContent>
            </AccordionItem>
          ))
        }
      </Accordion>
    </div>
  </div>
</section>
