---
// Import section components
import MainLayout from "@/layouts/MainLayout.astro";
import Btn404 from "@comp/ui/buttons/Btn404.astro";
import { SITE } from "@data/constants";

const pageTitle: string = `Page Not Found | ${SITE.title}`;

// Define variables for page content
const title: string = "404";
const subTitle: string = "Oh crap, 4 oh WTF?!";
const content: string =
  "That page is not found, but that's okay. You can go back to the home page.";
const btnTitle: string = "Go Back";
---

<MainLayout title={pageTitle}>
  <section class="grid h-svh place-content-center">
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div
        class="mx-auto max-w-screen-sm text-center text-slate-700 dark:text-slate-100"
      >
        <h1
          class="mb-4 text-7xl font-extrabold text-yellow-500 lg:text-9xl dark:text-yellow-400"
        >
          {title}
        </h1>
        <p
          class="mb-4 text-3xl font-bold tracking-tight text-balance text-neutral-700 md:text-4xl dark:text-neutral-300"
        >
          {subTitle}
        </p>

        <p
          class="mb-4 text-lg text-pretty text-neutral-600 dark:text-neutral-400"
        >
          {content}
        </p>
        <!--Display a button that navigates user back to the home page-->
        <Btn404 title={btnTitle} id="go-back" />
      </div>
    </div>
  </section>
</MainLayout>
