---
// Import necessary components
import { Image } from "astro:assets";
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@/components/ui/blocks/MainSection.astro";
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";

// Import necessary images
import logo from "@/images/icon.svg";
import cgarza from "@/images/cgarza-photo.avif";
import serviceHacker from "@/images/services/service-global-network-1.avif";

import { SITE } from "@/data_files/constants";

const pageTitle: string = `About Us | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://www.cobaltweb.tech/services/",
    "url": "https://www.cobaltweb.tech/services/",
    "name": "Services | Cobalt Web Technologies",
    "description": "Cobalt Web Technologies provides guidance and services to meet your demands of a high performance secure and modern website.",
    "isPartOf": {
        "@type": "Cobalt Web Technologies",
        "url": "https://www.cobaltweb.tech/",
        "name": "Cobalt Web Technologies",
        "description": "Cobalt Web Technologies provides guidance and services to meet your demands of a high performance secure and modern website."
    },
    "inLanguage": "en-US"
  }}
>
  <!--MainSection is the introductory section of the page, it also contains a CTA button-->
  <MainSection
    title="About Cobalt Web Technologies"
  />

  <section
  class="mx-auto max-w-[85rem] items-center gap-16 px-4 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8 2xl:max-w-full"
  >
    <div>
        <h2
        class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-slate-800 dark:text-slate-200"
        >
            How We Got Started
        </h2>
        <p
        class="mb-4 max-w-prose text-pretty font-light text-slate-600 dark:text-slate-200 sm:text-lg"
        >
            Cobalt Web Technologies was founded by Christopher Garza in 2015 with the express goal of providing unparalleled service and expertise in the world of information and web technology. Christopher got his start in technology at a young age by first tinkering with his family's business computers that ran on MS-DOS. Being immersed in the command line interface of that time introduced him to the world of computers and their potential.
        </p>
        <p
        class="mb-4 max-w-prose text-pretty font-light text-slate-600 dark:text-slate-200 sm:text-lg"
        >
            Having years of experience in the field and specializing in web technologies today allowed him to freelance in the early 2010's. When Cobalt was founded in 2015 by Christopher he kept it as a freelancing gig while maintaining a full-time career.
        </p>
    </div>
    
    <div>
        <Image
        class="w-full h-1/2 rounded-xl"
        src={logo}
        alt="Cobalt Web Technologies logo"
        format={"svg"}
        />
    </div>
  </section>
  <section
  class="mx-auto max-w-[85rem] items-center gap-16 px-4 pb-10 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8 lg:pb-14 2xl:max-w-full"
  >
    <div class="mt-8 grid grid-cols-2 gap-4">
        <!-- First image in a two-image layout -->
        <Image
          class="w-full rounded-xl"
          src={cgarza}
          alt="Photo of Christopher Garza"
          draggable={"false"}
          format={"avif"}
          width="328"
        />
        <!-- Second image in a two-image layout -->
        <Image
          class="mt-4 w-full rounded-xl lg:mt-10"
          src={serviceHacker}
          alt="alt text"
          draggable={"false"}
          format={"avif"}
        />
    </div>
    <div>
        <h2
        class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-slate-800 dark:text-slate-200"
        >
            Where We Are Today
        </h2>
        <p
        class="mb-4 max-w-prose text-pretty font-light text-slate-600 dark:text-slate-200 sm:text-lg"
        >
            Fast forward to 2020 and the chaotic times of the pandemic which brought an immense demand for new web projects, companies to move their services online and remotely, and improve the web infrastructure for many companies. Everyone was going online and needing web services. So Christopher made the move to dedicate his time fully to Cobalt Web Technologies and bring this growing company to a new chapter.
        </p>
        <p
        class="mb-4 max-w-prose text-pretty font-light text-slate-600 dark:text-slate-200 sm:text-lg"
        >
            We're based in Austin, Texas USA and the technology hub of the region allows us to partner with the best companies to bring you the very best services possible. Cobalt's mission is to bring you the best experience and service you need to run your business. We leverage our expertise to provide the best product for your needs.
        </p>
        <p
        class="mb-4 max-w-prose text-pretty font-light text-slate-600 dark:text-slate-200 sm:text-lg"
        >
            Contact us today and let us find the perfect solution for your next web project.
            
        </p>
        <div>
            <PrimaryCTA
            title="Get in Touch with Us"
            url="/contact/"
            iconName="chatBubble"
            >
            </PrimaryCTA>
        </div>
    </div>
  </section>


</MainLayout>
