---

import { Icon } from "astro-icon/components";
import { Badge } from "@/components/starwind/badge";
import Logo from "@/components/ui/Logo.astro";
import footerMenu from "@/lib/navigation";
import pkg from "../../../../package.json";

// Define the variables that will be used in this component
const sectionThreeTitle: string = "Hours of Operation";
const sectionThreeDays: string = "Monday - Friday";
const sectionThreeHours: string = "9AM - 5PM (US Central Time)";
const appVersion: string = pkg.version;
---

<footer
  class="bg-cobalt-100 dark:bg-cobalt-900 mx-auto w-full px-8 py-10 sm:px-6 lg:px-16"
>
  <div class="grid gap-2 md:grid-cols-7 md:gap-4 lg:gap-8">
    <div class="md:col-span-3">
      <!-- Brand Logo -->
      <div class="flex justify-center">
        <Logo class="size-32" />
      </div>
      <div class="space-y-2 text-center">
        <p class="text-sm text-slate-800 dark:text-slate-200">
          ©2015 - <span id="current-year"></span>
        </p>
        <div class="flex justify-center">
          <Icon
            name="Cobalt-Company-Name"
            class="text-cobalt-800 dark:text-cobalt-50 h-auto w-40"
          />
          <span class="sr-only" aria-label="Website company name"
            >Cobalt Web Technologies</span
          >
        </div>
        <p class="mb-0 text-sm text-slate-700 dark:text-slate-300">
          All rights reserved.
        </p>
        <p class="text-sm text-slate-700 dark:text-slate-300">
          Based, built, and coded in Austin, Texas USA.
        </p>
        <div class="flex justify-center gap-4">
          <Icon name="USFlag" class="size-14" />
          <Icon name="TexasFlag" class="size-14" />
          <Icon
            name="CowboyHat"
            class="size-14 text-slate-800 dark:text-slate-200"
          />
        </div>
      </div>
    </div>
    <!-- An array of links for Offerings and Company sections -->
    {
      footerMenu.footerItems.map((section) => (
        <div>
          <h3 class="my-2 text-lg font-bold text-slate-800 dark:text-slate-200">
            {section.section}
          </h3>
          <ul class="mt-3 grid space-y-3">
            {section.links.map((link) => (
              <li>
                <a
                  href={link.url}
                  class="inline-flex gap-x-2 rounded-lg text-slate-700 ring-slate-500 transition duration-300 outline-none hover:text-orange-600 focus-visible:ring dark:text-slate-300 dark:ring-slate-200 dark:hover:text-orange-400 dark:focus:outline-none"
                >
                  {link.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }

    <div class="md:col-span-2 space-y-4">
      <h3 class="text-lg font-bold text-slate-800 dark:text-slate-200">
        {sectionThreeTitle}
      </h3>
      <p class="m-0 text-slate-700 dark:text-slate-300">
        {sectionThreeDays}
      </p>
      <p class="text-slate-700 dark:text-slate-300">
        {sectionThreeHours}
      </p>
      <!-- Social Brands -->
      <div class="flex gap-4">
        <a
          href="https://x.com/cobaltcag"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="XIcon" class="size-6" />
        </a>
        <a
          href="https://github.com/cobaltwebtech/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="GitHubIcon" class="size-6" />
        </a>
      </div>
      <div>
        <Badge variant="outline" size="sm" class="font-light">
          Release v{appVersion}
        </Badge>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("astro:page-load", async () => {
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      if (element) {
        element.innerText = year.toString();
      }
    });
  </script>
</footer>
