---
const { title, btnId, btnTitle, url } = Astro.props;

interface Props {
  title?: string;
  btnId: string;
  btnTitle: string;
  url: string;
}
---

<astro-banner btnId={btnId}>
  <div
    class="fixed bottom-0 start-1/2 z-50 mx-auto w-full -translate-x-1/2 transform p-6 sm:max-w-4xl"
    role="region"
    aria-label="Informational Banner"
  >
    <div
      class="rounded-xl bg-orange-500 dark:bg-orange-700 bg-[url('/hexagon-background.svg')] bg-right-top bg-repeat p-4 text-center shadow-sm"
    >
      <div class="flex items-center justify-center">
        <div class="ml-auto">
          {title &&
          <p
            class="me-2 inline-block font-medium text-slate-50 dark:text-slate-700"
          >
            {title}
          </p>
          }
          <a
            class="group inline-flex items-center gap-x-2 rounded-full border-2 bg-cobalt-700 border-slate-50 backdrop-brightness-75 sm:backdrop-brightness-100 px-3 py-2 text-sm font-semibold text-slate-50 transition duration-300 disabled:pointer-events-none disabled:opacity-50 dark:backdrop-brightness-100 dark:focus:outline-none"
            href={url}
          >
            {btnTitle}
            <svg
              class="size-4 flex-shrink-0 transition duration-300 group-hover:translate-x-1"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
            >
          </a>
        </div>
        <button
          type="button"
          class="ml-auto inline-flex items-center gap-x-2 rounded-full border-2 border-slate-800 bg-gray-100 p-2 text-sm font-semibold text-gray-800 hover:bg-gray-200 disabled:pointer-events-none disabled:opacity-50 bg-slate-200 dark:bg-slate-700 dark:text-slate-50 dark:hover:text-slate-50 dark:focus:outline-none"
          id={btnId}
        >
          <span class="sr-only">Dismiss</span>
          <svg
            class="size-5 flex-shrink-0"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</astro-banner>
<script>
  class AstroBanner extends HTMLElement {
    connectedCallback() {
      const btnId = this.getAttribute("btnId");
      const button = this.querySelector(`#${btnId}`);
      if (button != null) {
        button.addEventListener("click", () => this.remove());
      }
    }
  }

  customElements.define("astro-banner", AstroBanner);
</script>
