---
import Icon from "../icons/Icon.astro";
// Destructure the properties from Astro.props
const { title, id } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title?: string;
  id?: string;
}
// Define CSS classes for styling the button
const baseClasses =
  "group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-slate-50 ring-zinc-500 transition duration-300 focus-visible:ring outline-none";
const borderClasses = "border-2 border-slate-500";
const bgColorClasses =
  "bg-orange-500 hover:bg-orange-700 active:bg-orange-500 dark:focus:outline-none";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "dark:ring-zinc-200";
---

<!-- Button with dynamic title, id, and optional arrow -->
<a 
  href="/"
>
  <button
    class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses}`}
    id={id}
  >
    <Icon name="house" /> {title}
  </button>
</a>
