---
import { type CollectionEntry, getCollection } from "astro:content";
import { CldImage } from "astro-cloudinary";
import { Icon } from "astro-icon/components";
import MainLayout from "@/base/MainLayout.astro";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/starwind/breadcrumb";
import { Button } from "@/components/starwind/button";
import {
  Tabs,
  TabsContent,
  TabsList,
  TabsTrigger,
} from "@/components/starwind/tabs";
import { siteMeta } from "@/lib/siteData";

// This gets the static paths for all the unique products
export async function getStaticPaths() {
  const productEntries = await getCollection("products");
  return productEntries.map((product: CollectionEntry<"products">) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

// Use the CollectionEntry type
const { product } = Astro.props as { product: CollectionEntry<"products"> };

const pageTitle: string = `${product.data.title} | ${siteMeta.title}`;
---

<MainLayout title={pageTitle}>
  <section
    class="mx-auto pb-8 md:max-w-screen-sm lg:max-w-3xl xl:max-w-5xl 2xl:max-w-7xl"
  >
    <Breadcrumb class="mb-4">
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/">Home</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbLink href="/products/">Products</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>{product.data.title}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
    <div class="grid items-center gap-8 md:grid-cols-2">
      <div>
        <h1
          class="block text-2xl font-bold text-slate-800 sm:text-3xl md:text-4xl dark:text-slate-200"
        >
          {product.data.title}
        </h1>
        <p class="my-4 text-xl font-bold text-cyan-700 dark:text-cyan-400">
          {product.data.subHeading}
        </p>
        <p
          class="mb-8 max-w-prose font-light text-pretty text-slate-700 sm:text-xl dark:text-slate-300"
        >
          {product.data.main.description1}
        </p>
        <p
          class="mb-8 max-w-prose font-light text-pretty text-slate-700 sm:text-xl dark:text-slate-300"
        >
          {product.data.main.description2}
        </p>
      </div>
      <div>
        <CldImage
          src={product.data.main.imgMain}
          class="rounded-xl"
          alt={product.data.main.imgAlt}
          format="avif"
          priority
          width={1200}
          height={1200}
          objectFit="contain"
        />
      </div>
    </div>
  </section>

  <section
    class="mx-auto py-8 md:max-w-screen-sm lg:max-w-3xl xl:max-w-5xl 2xl:max-w-7xl"
  >
    <Tabs defaultValue="title1">
      <TabsList class="mx-auto max-w-3xl">
        <TabsTrigger value="title1">{product.data.tabs.title1}</TabsTrigger>
        <TabsTrigger value="title2">{product.data.tabs.title2}</TabsTrigger>
      </TabsList>
      <TabsContent value="title1">
        <div class="grid gap-12 md:grid-cols-2">
          <div class="lg:w-3/4">
            <h2
              class="text-3xl font-bold text-slate-800 md:leading-tight lg:text-4xl dark:text-slate-200"
            >
              {product.data.tabFirst.title}
            </h2>
            <p class="mt-3 text-slate-600 dark:text-slate-400">
              {product.data.tabFirst.subTitle}
            </p>
            <p class="mt-5 text-xl font-bold text-cyan-700 dark:text-cyan-400">
              {product.data.tabFirst.ctaDescription}
            </p>
            <p class="mt-5">
              <Button variant="secondary" href={product.data.tabFirst.btnURL}
                ><Icon name="InfoFill" class="size-6" />{
                  product.data.tabFirst.btnTitle
                }</Button
              >
            </p>
          </div>

          <ul class="space-y-4 md:space-y-6">
            {
              product.data.tabFirstItems.map((list) => (
                <li class="flex items-start gap-2">
                  <Icon
                    name="CheckCircle"
                    class="size-6 basis-1/12 text-green-600 dark:text-green-400"
                  />
                  <div class="basis-11/12">
                    <h3 class="text-base font-bold text-slate-800 sm:text-lg dark:text-slate-200">
                      {list.title}
                    </h3>
                    <p class="mt-1 text-slate-600 dark:text-slate-400">
                      {list.subTitle}
                    </p>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </TabsContent>
      <TabsContent value="title2">
        <div class="grid gap-12 md:grid-cols-2">
          <div class="lg:w-3/4">
            <h3
              class="text-3xl font-bold text-slate-800 md:leading-tight lg:text-4xl dark:text-slate-200"
            >
              {product.data.tabSecond.title}
            </h3>
            <p class="mt-3 text-slate-600 dark:text-slate-400">
              {product.data.tabSecond.subTitle}
            </p>
            <p class="mt-5 text-xl font-bold text-cyan-700 dark:text-cyan-400">
              {product.data.tabSecond.ctaDescription}
            </p>
            <p class="mt-5">
              <Button variant="secondary" href={product.data.tabSecond.btnURL}
                ><Icon name="InfoFill" class="size-6" />{
                  product.data.tabSecond.btnTitle
                }</Button
              >
            </p>
          </div>
          <ul class="space-y-4 md:space-y-6">
            {
              product.data.tabSecondItems.map((list) => (
                <li class="flex items-start gap-2">
                  <Icon
                    name="CheckCircle"
                    class="size-6 basis-1/12 text-green-600 dark:text-green-400"
                  />
                  <div class="basis-11/12">
                    <h3 class="text-base font-bold text-slate-800 sm:text-lg dark:text-slate-200">
                      {list.title}
                    </h3>
                    <p class="mt-1 text-slate-600 dark:text-slate-400">
                      {list.subTitle}
                    </p>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </TabsContent>
    </Tabs>
  </section>
</MainLayout>
