---
const { label, id, inputName, value } = Astro.props;

interface Props {
  label: string;
  inputName: string;
  id: string;
  value?: string;
}
---

<input
  type="radio"
  name={inputName}
  id={id}
  value={value}
  class="bg-cobalt-50 border-2 border-slate-400 p-3 text-slate-800 checked:bg-orange-400 hover:text-orange-400 focus:border-slate-400 focus:text-orange-400 focus:ring focus:ring-cyan-400 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:bg-slate-700 dark:text-slate-100 dark:checked:bg-orange-400 dark:hover:text-orange-400 dark:focus:text-orange-400"
  required
/>
<label
  for={id}
  class="mr-4 text-sm text-slate-800 md:mr-16 dark:text-slate-200"
>
  {label}
</label>
